<section class="np-testimonials">
  <div class="container">
    <div class="section-header">
      <span class="section-tag">Témoignages</span>
      <h2 class="section-title">Ce que disent nos <span class="gold">Artistes</span></h2>
    </div>
    <div class="testimonials-grid">
      @for(t of testimonials; track t.name) {
        <div class="testimonial-card">
          <div class="quote-icon"><i class="fa fa-quote-left"></i></div>
          <p class="quote-text">{{ t.text }}</p>
          <div class="testimonial-author">
            <div class="author-avatar">{{ t.name[0] }}</div>
            <div>
              <div class="author-name">{{ t.name }}</div>
              <div class="author-genre">{{ t.genre }}</div>
            </div>
            <div class="stars">
              @for(s of [1,2,3,4,5]; track s) { <i class="fa fa-star"></i> }
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
