.fade-img {
    // opacity: 90%;
  -webkit-mask-image: linear-gradient(to top, transparent, black 35%, black 65%, transparent);
  mask-image: linear-gradient(to top, transparent, black 50%, black 50%, transparent);
}

.fade-img2 {
        opacity: 80%;

  -webkit-mask-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 95%, transparent);
  mask-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 95%, transparent);
}
